API_IMAGE=1fini/tennisscoreapi:latest
MIGRATIONS_IMAGE=1fini/tennisscoreapi-migrations:latest
WEBAPP_IMAGE=1fini/tennisscore-webapp:latest

ASPNETCORE_ENVIRONMENT=Production
ENABLE_HTTPS_REDIRECTION=false
WEBAPP_HTTP_PORT=8080

DB_NAME=tennisscore
DB_USER=tennisscore
DB_PASSWORD=change-me
