TRAEFIK_HOST=tennis.example.com
TRAEFIK_ACME_EMAIL=admin@example.com
TRAEFIK_CERT_RESOLVER=letsencrypt
TRAEFIK_LOG_LEVEL=INFO

API_IMAGE=1fini/tennisscoreapi:latest
MIGRATIONS_IMAGE=1fini/tennisscoreapi-migrations:latest
WEBAPP_IMAGE=1fini/tennisscore-webapp:latest

ASPNETCORE_ENVIRONMENT=Production

DB_NAME=tennisscore
DB_USER=tennisscore
DB_PASSWORD=change-me
