TRAEFIK_HOST=tennis.example.com
TRAEFIK_NETWORK=traefik
TRAEFIK_ENTRYPOINT=websecure
TRAEFIK_CERT_RESOLVER=letsencrypt

API_IMAGE=1fini/tennisscoreapi:latest
WEBAPP_IMAGE=1fini/tennisscore-webapp:latest

ASPNETCORE_ENVIRONMENT=Production

DB_NAME=tennisscore
DB_USER=tennisscore
DB_PASSWORD=change-me
